/* Copyright (C) 2020-2021 Aditya Shakya <adi1090x@gmail.com> */
/* Everyone is permitted to copy and distribute copies of this file under GNU-GPL3 */

/* Color-Scheme */

* {
  BG: #100D0C;
  FG: #C4C7C5;
  BDR: #7C817A;
}
